body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  background-color: black;
}

.root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 460px;
  max-height: 100%;
  color: #ffffff;
  margin: 0 auto;
}

.root .page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  margin: 0 auto;
  max-width: 460px;
  max-height: 100%;
  min-height: 100%;
  min-width: 100vw;
  background-color: #1A1A1D;
  background-image: url("../img/bg1.gif");
}

.root .page__start {
  max-width: 460px;
  max-height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .page__start-hello-heading {
  margin: 60px auto 0 auto;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #e9f6fb;
}

.root .page__start-hello-text {
  margin-top: 30px;
  padding: 25px;
  text-align: center;
  color: #ffffff;
  font-family: "M PLUS 1p", sans-serif;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
}

.root .page__start-jaba {
  position: relative;
  left: 25px;
  bottom: 85px;
}

.root .page__question {
  max-width: 460px;
  max-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .page__question1 {
  max-width: 460px;
  max-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .page__answer {
  max-width: 460px;
  max-height: 100%;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .page__answer-hedding {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  color: #e9f6fb;
}

.root .page__answer-description {
  margin: 0;
  width: 85vw;
  height: 200px;
  position: absolute;
  bottom: 115px;
  overflow-y: scroll;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #e9f6fb;
  padding: 0 25px;
}

.btn {
  width: 300px;
  line-height: 15px;
  margin: 10px auto;
  display: block;
  color: #ffffff;
  border: 1px solid #8396b6;
  border-radius: 1rem;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 40px;
  font-family: "M PLUS 1p", sans-serif;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0.5em 0 #8396b6, 0 0 0.5em 0 #8396b6;
          box-shadow: inset 0 0 0.5em 0 #8396b6, 0 0 0.5em 0 #8396b6;
}

.btn__start {
  margin-top: 10px;
  width: 300px;
}

.btn__restart {
  margin-top: 10px;
  width: 300px;
}

.btn_reload {
  position: absolute;
  bottom: 40px;
}

.btn_reload-quest {
  position: absolute;
  bottom: 40px;
}

.page__scores {
  position: absolute;
  bottom: 0px;
}

.number-question {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 10px;
  color: #e9f6fb;
  text-transform: uppercase;
}

.image-question {
  width: 90vw;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.photo-question-btns {
  position: absolute;
  bottom: 95px;
}

.page__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-bottom: 10px;
}

.page__scores-true {
  color: #018b48;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-right: 60px;
}

.page__scores-false {
  color: #8b0101;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.animate {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.animate-hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s, visibility 1s;
  transition: opacity 1s, visibility 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media (max-width: 321px) {
  .page__start-hello-heading {
    margin-top: 65px !important;
    margin-bottom: 0px !important;
  }
  .page__start-hello-text {
    margin-top: 0px !important;
  }
}
/*# sourceMappingURL=style.css.map */