
body{
    margin: 0;
    padding: 0;
    font-family:  'M PLUS 1p', sans-serif;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
}

//$font-f: 'Roboto Slab', serif;
$font-f: 'M PLUS 1p', sans-serif;
$color-b: #1A1A1D;
$color-btn: rgb(131, 150, 182);
$color-text: #ffffff;
$color-span: #e9f6fb;


$min-w:100vw;
$min-h:100%;
$max-w:460px;
$max-h:100%;


.root{
    box-sizing: border-box;
    display: flex;
    max-width: $max-w;
    max-height: $max-h;
    color: $color-text;
    margin: 0 auto;
    .page{
        box-sizing: border-box;
        flex: 1;
        // border: 4px solid rgb(131, 150, 182);
        // border-radius: 5px;
        // box-shadow: inset 0 0 15px rgb(149, 141, 141);
        position: absolute;
        margin: 0 auto;
        max-width: $max-w;
        max-height: $max-h;
        min-height: $min-h;
        min-width: $min-w;
        background-color: $color-b;
        background-image: url("../img/bg1.gif");
        &__start{
            max-width: $max-w;
            max-height: $max-h;
            min-height: $min-h;
            display: flex;
            flex-direction: column;
            // position: absolute;
            // z-index: 8;
            &-hello-heading{
                margin: 60px auto 0 auto;
                text-align: center;
                font-size: 25px;
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 3px;
                color: $color-span;
            }
            &-hello-text{
                margin-top: 30px;
                padding: 25px;
                text-align: center;
                color: $color-text;
                font-family: $font-f;
                line-height: 25px;
                font-size: 17px;
                font-weight: 500;
            }
            &-jaba{
                // margin-top: 175px;
                // margin-left: 50px;  
                position: relative;
                left:25px;
                bottom: 85px;
            }
        }
        &__question{
            max-width: $max-w;
            max-height: $max-h;
            align-items: center;
            display: flex;
            flex-direction: column;
            // position: absolute;
            // z-index: 7;
        }
        &__question1{   
            max-width: $max-w;
            max-height: $max-h;
            align-items: center;      //вторая страница вопросов
            display: flex;
            flex-direction: column;
            // position: absolute;
            // z-index: 6;
            
        }
        &__answer{
            max-width: $max-w;
            max-height: $max-h;
            min-height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            // position: absolute;
            // z-index: 5;
            &-hedding{
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                margin: 10px;
                color: $color-span;
            }
            &-description{
                margin: 0;
                width: 85vw;
                height: 200px;
                position: absolute;
                bottom: 115px;
                overflow-y: scroll;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 23px;
                color: $color-span;
                padding: 0 25px;
            }
        }
        // &__finish{
        //     // position: absolute;
        //     // z-index: 4;
        // }
    }
}

.btn{
    width: 300px;
    line-height: 15px;
    margin: 10px auto;
    display: block;
    color: $color-text;
    border: 1px solid $color-btn;
    border-radius: 1rem;
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 40px;
    font-family: $font-f;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0.5em 0 $color-btn, 0 0 0.5em 0 $color-btn;
    // &::before{
    //     content: '';
    //     position: absolute;
    //     background: $color-btn;
    //     box-sizing: border-box;
    //     width: 100%;
    //     height: 100%;
    //     transform: perspective(1em) rotateX(40deg) scale(1, 0.3);
    //     filter: blur(1em);
    //     bottom: -2em;
    //     left: 0px;
    //     opacity: 0.7;
    // }
}

.btn__start{
    margin-top: 10px;
    width: 300px;
}
.btn__restart{
    margin-top: 10px;
    width: 300px;
}
.btn_reload{
    position: absolute;
    bottom: 40px;
}
.btn_reload-quest{
    position: absolute;
    bottom: 40px;
}
.page__scores{
    position: absolute;
    bottom: 0px;
}
.number-question{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    color: $color-span;
    text-transform: uppercase;
}

.image-question{
    width: 90vw;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.photo-question-btns{
    position: absolute;
    bottom: 95px;
}

.page__scores{
    display: flex;
    justify-content: baseline;
    margin-bottom: 10px;
    &-true{
        color: rgb(1, 139, 72);
        font-family: $font-f;
        font-weight: 700;
        font-size: 24px;
        margin-right: 60px;
    }
    &-false{
        color: rgb(139, 1, 1);
        font-family: $font-f;
        font-weight: 700;
        font-size: 24px;
    }     
}

.animate{
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;
    transition-delay: 0s;
}
.animate-hidden{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
    transition-delay: 0s;
}


@media(max-width: 321px){
    .page__start-hello-heading{
        margin-top: 65px !important;
        margin-bottom: 0px !important;
    }
    .page__start-hello-text{
        margin-top: 0px !important;
    }
}